@media (min-width: 1280px) {
    .container{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        height: 1400px
    }
    
    .item1{
        background-color: #48DBFB;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    .item2{
        background-color: #1DD1A1;
        grid-column: 3/12;
        grid-row: 1/2;
    }
    .item3{
        background-color: #FECD4E;
        grid-column: 12/13;
        grid-row: 1/2;
    }
    
    .item4{
        background-color: #54A0FF;
        grid-column: 1/13;
        grid-row: 2/5;
    }
    
    .item5{
        background-color: #00D2D3;
        grid-column: 1/5;
        grid-row: 5/9;
    }
    .item6{
        background-color: #01A3A4;
        grid-column: 5/9;
        grid-row: 5/9;
    }
    .item7{
        background-color: #EEA565;
        grid-column: 9/13 ;
        grid-row: 5/9;
    }
    
    .item8{
        background-color: #8E44AD;
        grid-column: 1/7;
        grid-row: 9/17;
    }
    .item9{
        background-color: #F1C40F;
        grid-column: 7/13;
        grid-row: 9/17;
    }
    
    .item10{
        background-color: #2C3E50;
        grid-column: 1/13;
        grid-row: 17/20;
    }
}

@media (min-width: 810px) and (max-width: 1279px) {
    .container{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        height: 1400px
    }
    
    .item1{
        background-color: #48DBFB;
        grid-column: 1/4;
        grid-row: 1/2;
    }
    
    .item2{
        background-color: #1DD1A1;
        grid-column: 4/13;
        grid-row: 1/2;
    }
    .item3{
        display: none;
    }
    
    .item4{
        background-color: #54A0FF;
        grid-column: 1/13;
        grid-row: 2/5;
    }
    
    .item5{
        background-color: #00D2D3;
        grid-column: 1/7;
        grid-row: 5/10;
    }
    .item6{
        display: none;
    }
    .item7{
        display: none;
    }
    
    .item8{
        background-color: #8E44AD;
        grid-column: 1/7;
        grid-row: 10/17;
    }
    .item9{
        background-color: #F1C40F;
        grid-column: 7/13;
        grid-row: 5/17;
    }
    
    .item10{
        background-color: #2C3E50;
        grid-column: 1/13;
        grid-row: 17/20;
    }
}

@media (max-width: 809px) {
    .container{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        height: 1400px
    }
    
    .item1{
        background-color: #48DBFB;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .item2{
        background-color: #1DD1A1;
        grid-column: 2/5;
        grid-row: 1/2;
    }
    .item3{
        display: none;
    }
    
    .item4{
        background-color: #54A0FF;
        grid-column: ;
        grid-row: ;
    }
    
    .item5{
        background-color: #00D2D3;
        grid-column: ;
        grid-row: ;
    }
    .item6{
       display: none;
    }
    .item7{
        background-color: #EEA565;
        grid-column: ;
        grid-row: ;
    }
    
    .item8{
        display: none;
    }
    .item9{
        background-color: #F1C40F;
        grid-column: ;
        grid-row: ;
    }
    
    .item10{
        background-color: #2C3E50;
        grid-column: ;
        grid-row: ;
    }
}
